body {
  background-color:#000000;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 1000%;
   
}

div{
  color: white;
  text-align: center;
  position: relative;
  top: 150px;
}
